<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This wee app was built with Node.js and uses Mapbox.com and DarkSky.net to provide basic weather forecasts.</p>
        <img class="portrait" src="/img/headshot.png" />
    </div>

    {{>footer}}
</body>

</html>